html
{
    background: url('../images/bubbles.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #b9d1dc;
}
body {
	margin: 0;
	min-width: 320px;
	font: 14px/17px Tahoma, Geneva, sans-serif;
	color: #6a6868;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}
input[type=text], input[type=password], input[type=file], textarea{-webkit-appearance:none; -webkit-border-radius:0;}
input[type=submit] {
	-webkit-border-radius:0;
	-webkit-appearance: none;
}
select {
	border-radius: 0;
	border: 0 !important;
}
img {border-style: none;}
a {color: #00529b;}
a:hover {text-decoration: none;}
a:active {background: transparent;}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
input, textarea, select {
	font: 12px/20px Tahoma, Geneva, sans-serif;
	vertical-align: middle;
	color: #1a89c5;
	outline: none;
}
header, footer, article, section, hgroup, nav, figure, aside {display: block;}
figure {
	margin: 0;
	padding: 0;
}
#wrapper {
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 52px;
	max-width: 1280px;
}
#topspace
{
    height: 65px;
    background-color: #FFFFFF;
    max-width: 1020px;
	margin: 0 auto;
	padding: 5px 15px;
}
#header {
	position: relative;
	width: 100%;
}
.main-image {
	max-width: 1050px;
	margin: 0 auto;
}
.main-image img {
	display: block;
	width: 100%;
}
.header-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.header-holder {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
}
.logo {
	float: left;
	overflow: hidden;
	width: 188px;
	height: 64px;
	text-indent: -9999px;
	background: url(../images/sprite.png) no-repeat -320px -580px;
	margin: 0px;
}

.logo a {
	display: block;
	height: 100%;
}
.top-block {
	position: absolute;
	top: 21px;
	right: -98px;
	width: 632px;
}
.form-reg {
	padding: 37px 158px 0 214px;
	width: 260px;
	height: 426px;
	line-height: 15px;
	font-size: 13px;
	color: #d4ebfb;
	background: url(../images/bg-form-reg.png) no-repeat;
}
.form-reg legend {display: none;}
.form-reg .title {
	display: block;
	margin: 0 0 3px;
	line-height: 24px;
	font-size: 20px;
	color: #fff;
}
.form-reg p {margin: 0 0 17px;}
.form-reg .row {
	padding: 0 0 11px;
	width: 250px;
}
.form-reg .row:after {
	content: "";
	display: block;
	clear: both;
}
.form-reg input[type="text"] {
	float: left;
	margin: 0 3px 0 0;
	border: 1px solid #8db6ce;
	padding: 4px 8px;
	width: 247px;
	height: 30px;
	background: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.form-reg input[type="text"].text1 {width: 102px;}
.form-reg input[type="text"].text2 {width: 142px;}
.form-reg input[type="text"].text3 {width: 114px;}
.form-reg input[type="text"].text4 {width: 56px;}
.form-reg select {width: 64px;}
.form-reg input[type="submit"] {
	float: left;
	margin: -2px 0 0;
	border: 0;
	overflow: hidden;
	padding: 0;
	width: 249px;
	height: 74px;
	line-height: 0;
	font-size: 0;
	text-indent: -9999px;
	background: url(../images/sprite.png) no-repeat 0 -780px;
	cursor: pointer;
}
.form-reg input[type="submit"]:hover {
	background: url(../images/sprite.png) no-repeat 0 -880px;
}
.form-reg .req {
	display: block;
	line-height: 3px;
	font-size: .85em;
	color: #fff;
}
.error input {
	border-color: #f00 !important;
	background:#fdd8d8 !important;
}
.form-reg #form-links {text-align: center; margin-top: -5px;}
.form-reg #form-links a {color:#fff; }
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important;
}
.select-area {
	position: relative;
	overflow: hidden;
	float: left;
	margin: 0 5px 0 0;
	border: 1px solid #8db6ce;
	height: 32px;
	cursor: default;
	background: #fff;
}
.select-focus {
	border-color: #8db6ce;
}
.select-error {
	border-color: #f00;
}
.select-area .center {
	display: block;
	padding: 6px 4px;
	line-height: 20px;
	font-size: 12px;
	white-space: nowrap;
	color: #1a89c5;
}
.select-disabled {
	background: #eee;
}
.select-area .select-opener {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 28px;
	height: 28px;
	background: #76a9cc;
}
.select-area .select-opener:after {
	content: "";
	position: absolute;
	top: 10px;
	right: 6px;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	text-indent: -9999px;
	border-top: 10px solid #fff;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}
.select-options {
	position: absolute;
	z-index: 2000;
	margin: -1px 0 0;
	overflow: hidden;
	background: #fff;
}
.select-options .drop-holder {
	border: 1px solid #8db6ce;
	overflow: hidden;
	height: 1%;
}
.select-options ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.select-options ul li {
	float: left;
	width: 100%;
	line-height: 16px;
	font-size: 12px;
}
.select-options ul a {
	display: block;
	padding: 6px 4px;
	text-decoration: none;
	height: 1%;
	color: #1a89c5;
	cursor: default;
}
.select-options .item-selected a {
	text-decoration: none;
	color: #fff;
	background: #76a9cc;
}
.select-options .optgroup {
	clear: both;
}
.select-options .optgroup strong {
	display: block;
	padding: 5px;
}
.select-options .optgroup ul a {
	padding-left: 30px;
}
.top-block .arrow-left {
	position: absolute;
	top: 130px;
	left: 466px;
	width: 93px;
	height: 132px;
	background: url(../images/bg-arrow-left.png) no-repeat;
}
.top-block .arrow-right {
	position: absolute;
	top: 130px;
	right: 423px;
	width: 700px;
	height: 132px;
	background: url(../images/bg-arrow-right.png) no-repeat;
}
.main-promo {
	padding: 28px 0px 0px 0px;
	line-height: 24px;
	font-size: 24px;
	letter-spacing: -1px;
	text-align: center;
	color: #949fa1;
	width: 100%;
}
.main-promo .title {
	display: block;
	line-height: 48px;
	font-size: 43px;
	letter-spacing: -2px;
	color: #00529b;
}
.main-promo .title span {
	color: #1a89c5;
}
.main-promo .curr {
	position: relative;
	top: -4px;
}
#main {
	margin: 0 auto;
	border: 1px solid #d6d6d6;
	border-top: 1px solid #f7f7f7;
	padding: 37px 40px 0;
	max-width: 968px;
	background: #f7f7f7 url(../images/bg-main.png) repeat-x;
}
#content {
	width: 100%;
}
.top-promo {
	overflow: hidden;
	padding: 0 0 12px;
	width: 100%;
}
.promo-disk {
	float: left;
	margin: 0 22px 0 0;
	padding: 1px 6px 0 2px;
	width: 326px;
	background: url(../images/sep-promo-disk.png) no-repeat 100% 0;
}
.promo-disk img {
	float: right;
	margin: 0 0 0 5px;
}
.promo-disk .logo2 {
	float: left;
	margin: 6px -17px -1px 2px;
	overflow: hidden;
	width: 135px;
	height: 45px;
	text-indent: -9999px;
	background: url(../images/sprite.png) no-repeat -320px -650px;
}
.promo-disk p {
	margin: 0 0 4px;
}
.promo-disk .link {
	font-weight: bold;
	color: #ed1c24;
}
.promo-txt {
	overflow: hidden;
	padding: 13px 32px 0 0;
	height: 1%;
	text-align: justify;
}
.promo-txt h2 {
	margin: 0 0 2px;
	line-height: 21px;
	font-size: 18px;
	font-weight: normal;
	color: #00529b;
}
.promo-txt p {
	margin: 0 0 13px;
}
.promo-txt ul {margin: -10px 0px 0px 10px;}
.promo-txt li
{
    float:left;
    width: 240px;
    font-size: .82em;
}

.features-holder {
	width: 100%;
}
.features-holder:after {
	content: "";
	display: block;
	clear: both;
}
.features {
	float: left;
	padding: 3px 0 10px 0px;
	width: 310px;
}
.features .title {
	display: block;
	margin: 0 0 12px;
	line-height: 20px;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	color: #a0a0a0;
}
.features-list {
	margin: 0;
	padding: 0 8px 0 0;
	list-style: none;
	text-align: center;
}
.features-list li {
	display: inline-block;
	margin: 0 -4px 15px 0;
	padding: 0 5px 0 8px;
	vertical-align: top;
	background: url(../images/sep-features-list.png) no-repeat;
}
.features-list li:first-child {background: none;}
.features-list img {
	vertical-align: top;
}
.btn-get {
	float: right;
	margin: 3px 3px 0 -30px;
	width: 522px;
	height: 101px;
	background: url(../images/sprite.png) no-repeat 0 -160px;
}
.btn-get a {
	color: #fff;
	float: right;
	font-size:19px;
	font-weight: bold;
	height:49px;
	letter-spacing:0;
	line-height: 58px;
	margin:0 27px 0 0;
	padding:17px 5px 30px 108px;
	text-decoration: none;
	width:358px;
	text-shadow: 0 5px 5px #a90505;
}
.btn-get a:hover {background: url(../images/sprite.png) no-repeat -24px -270px;}
.btn-get a span {
	text-decoration: underline;
}
.testimonials {
	margin: 0 -40px;
	border-top: 1px solid #dcdcdc;
	overflow: hidden;
	padding: 14px 0 1px 41px;
	height: 1%;
	background: #f1f1f2;
}
.testimonials h2 {
	margin: 0 0 14px;
	line-height: 25px;
	font-size: 22px;
	font-weight: normal;
	color: #a5a5a5;
}
.testimonials img {
	float: right;
	margin: -13px 0 0 -30px;
}
.quotes {
	padding: 0 0 0 65px;
}
.quotes blockquote {
	display: block;
	margin: 0;
	padding: 0 0 17px 23px;
	background: url(../images/bg-quote.png) no-repeat 0 3px;
}
.quotes q {
	display: inline;
	quotes: none;
	line-height: 18px;
	font-size: 16px;
	font-style: italic;
	color: #9f9f9f;
}
.quotes q:before,
.quotes q:after {content:"";}
.quotes cite {
	display: inline;
	margin: 0 0 0 6px;
	line-height: 18px;
	font-size: 12px;
	color: #9f9f9f;
}
.confirm-block {
	padding: 8px 52px 25px 62px;
	overflow: hidden;
	height: 1%;
}
.confirm-block .txt {
	float: left;
	width: 550px;
	text-align: left;
}
.confirm-block h2 {
	margin: 0 0 14px;
	line-height: 25px;
	font-size: 22px;
	color: #00529b;
}
.confirm-block p {
	margin: 0 0 16px;
}
.confirm-block address {
	padding: 0 0 33px;
	font-style: normal;
}
.social-block {
	float: right;
	padding: 10px 0 0;
	width: 265px;
}
.social-block h3 {
	margin: 0 0 15px;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	color: #023d72;
}
.social-block p
{
    padding: 20px 0px 0px 11px;
}
.social-list {
	margin: 0;
	padding: 0 0 0 6px;
	list-style: none;
	text-align: center;
}
.social-list li {
	display: inline-block;
	margin: 0 -2px 4px 2px;
	vertical-align: top;
}
.social-list li a {
	display: block;
	overflow: hidden;
	width: 57px;
	height: 57px;
	text-indent: -9999px;
}
.social-list li a.facebook {background: url(../images/sprite.png) no-repeat 0 -100px;}
.social-list li a.pinterest {background: url(../images/sprite.png) no-repeat -60px -100px;}
.social-list li a.youtube {background: url(../images/sprite.png) no-repeat -120px -100px;}
.social-list li a.twitter {background: url(../images/sprite.png) no-repeat -180px -100px;}
.media-block {
	margin: 0 auto 55px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 24px 25px 30px 55px;
	width: 720px;
	background: #e8e8e8;
}
.media-block h2 {
	margin: 0 0 5px;
	line-height: 24px;
	font-size: 20px;
	color: #023d72;
}
.media-block p {
	margin: 0 0 10px;
}
.media-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.media-list li {
	display: inline-block;
	margin: 0 39px 0 9px;
	width: 188px;
	vertical-align: top;
}
.media-list li a {
	text-decoration: none;
	color: #636363;
}
.media-list li a:hover {
	color: #00529b;
}
.media-list img {
	margin: 0 0 -5px;
	vertical-align: top;
}
#footer {
	position: relative;
	overflow: hidden;
	padding: 20px 0 16px;
}
.partners-list {
	float: right;
	margin: 0;
	padding: 0 27px 0 0;
	list-style: none;
}
.partners-list li {
	float: left;
	margin: 0 0 0 14px;
}
.partners-list img {
	vertical-align: top;
}
.cfm-bottom {width: 60%; margin-top: -10px; }
#footer .txt {
	float: left;
	padding: 8px 0 0 10px;
	width: 310px;
	line-height: 14px;
	font-size: .8em;
}
.bottom-nav {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
	width: 100%;
	list-style: none;
}
.bottom-nav li {
	float: left;
	padding: 0 7px 0 8px;
	background: url(../images/sep-bottom-nav.png) no-repeat 0 4px;
}
.bottom-nav li:first-child {
	padding-left: 0;
	background: none;
}
.bottom-nav li a {
	color: #6d6c6c;
	text-decoration: underline;
}
.bottom-nav li a:hover {
	text-decoration: none;
}
#footer .txt p {
	margin: 0;
}

.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
.lightbox {
	border: 1px solid #9d9d9d;
	border-top-color: #3f7490;
	width: 592px;
	background: #fff;
}
#fancybox-outer {
	-webkit-box-shadow: 20px 20px 100px #000;
	-moz-box-shadow: 20px 20px 100px #000;
	box-shadow: 20px 20px 100px #000;
}
.lightbox .heading {
	border-bottom: 1px solid #78b4d5;
	padding: 12px 13px 7px 21px;
	min-height: 21px;
	background: #0273b1;
}
.lightbox .close-text {
	float: right;
	line-height: 21px;
	font-size: 11px;
	color: #fff;
}
.lightbox .close-text span {
	text-decoration: underline;
}
.lightbox .close {
	float: right;
	margin: 0 0 0 10px;
	width: 21px;
	height: 21px;
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #fff;
	background: #676767;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3Njc2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #676767 0%, #040404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676767), color-stop(100%,#040404));
	background: -webkit-linear-gradient(top,  #676767 0%,#040404 100%);
	background: -o-linear-gradient(top,  #676767 0%,#040404 100%);
	background: -ms-linear-gradient(top,  #676767 0%,#040404 100%);
	background: linear-gradient(to bottom,  #676767 0%,#040404 100%);
}
.lightbox h2 {
	margin: 0;
	line-height: 17px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
.lightbox h3 {
	margin: 0 0 8px;
	line-height: 18px;
	font-size: 18px;
	font-weight: bold;
	color: #414141;
}
.lightbox .area {
	padding: 15px 18px 35px;
	width: 556px;
	line-height: 16px;
	font-size: 12px;
	color: #231f20;
}
.lightbox .frame {
	overflow: auto;
	padding: 0 10px 0 0;
	height: 311px;
}
.lightbox .area p {
	margin: 0 0 15px;
}

.floatright { float: right; }
.phone-top
{
    color: rgb(0, 82, 155);
    font-size: 1.5em;
    text-align: right;
    line-height: 24px;
    margin: 10px 50px 0px 0px;
}
.phone
{
    color: rgb(0, 82, 155);
    font-size: 1.5em;
    text-align: right;
    line-height: 24px;
    margin: 0px -20px 0px 30px;
}
/******Confirm Page ******/
#cfm-form1
{
    color: #1a89c5;
}

#cfm-form1 input[type="text"] {
	margin: 0px auto;
	border: 1px solid rgb(141, 182, 206);
	padding: 0 4px;
	height: 34px; line-height: 34px;
	width: 95%;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mail-form-wrap {
	background-color: #E8E8E8;
	overflow: hidden;
	padding: 10px 10px 5px 10px;
}

.mail-form-col {
	width: 50%;
	float: left;
	padding-bottom: 5px;
}

#send-now input[type="submit"]
{
	display: block;
	margin: 0 auto;
	border: 0px none;
	overflow: hidden;
	padding: 0px;
	width: 335px;
	height: 74px;
	background: transparent url('../images/btn-sendme.png') no-repeat scroll;
	text-indent: -9999px;
	line-height: 0;
	cursor: pointer;
}

#free-inspection {width: 100%; text-align: center;}
#free-inspection input[type="submit"]
{
		clear:both;
    margin: 0;
    border: 0px none;
    overflow: hidden;
    padding: 0px;
    width: 480px;
    height: 70px;
    background: transparent url('../images/hot-tub-inspection-active.png') no-repeat scroll;
    text-indent: -9999px;
    line-height: 0;
    cursor: pointer;
}
#free-inspection input[type="submit"]:hover
{
   background: transparent url('../images/hot-tub-inspection-hover.png') no-repeat scroll;
}
.got-it { color: #05437E; display: inline-block; font-size:25px; }

.state-wrapper{
	float: left;
	width: 100px;
}
.zip-wrapper {
	float: left;
	width: 120px;
	margin-left: 9px;
}

/**** Media Queries ***/
@media only screen and (max-width: 1040px) {
	.top-block {
		top: 21px;
		right: -110px;
	}
	#main {border-width: 1px 0 0;}
	.promo-txt {padding: 13px 8px 0 0;}

	.btn-get {margin: 3px -21px 0 -20px;}
	.testimonials img {margin: -13px -24px 0 -30px;}
	.partners-list {padding: 0 3px 0 0;}
	.confirm-block {padding: 57px 28px 46px 62px;}
}
@media only screen and (max-width: 1023px) {
	.logo {
		left: 17%;
		margin: 0;
	}
	.main-promo {
		text-align: center;
		padding-left: 20%;
		line-height: 24px;
		font-size: 1em;
		letter-spacing: -1px;
	}
	.main-promo .title {
		line-height: 48px;
		font-size: 2.5em;
		letter-spacing: -2px;
	}
	.promo-txt {
		padding: 13px 0 0;
		line-height: 15px;
		font-size: 12px;
	}

	.features-holder {
		padding: 0 0 20px;
	}
	.features {
		float: none;
		padding: 3px 0 17px;
		width: auto;
	}
	.btn-get {
		float: none;
		margin: 0 auto;
	}
	.quotes {
		overflow: hidden;
		padding: 0;
		height: 1%;
	}
	.testimonials h2 {
		margin: 0 0 10px;
	}
	.quotes blockquote {padding: 0 0 10px 23px;}
	.quotes q {
		line-height: 15px;
		font-size: 12px;
	}
	.confirm-block {padding: 57px 0 46px;}
	.confirm-block .txt {width: 60%;}
	.media-block {
		padding: 24px 15px 30px;
		max-width: 642px;
		width: auto;
	}
	.media-list {text-align: center;}
	.media-list li {margin: 0 5px 0 9px;}
	#footer .txt {width: 250px;}
	.promo-txt ul {margin: -10px 0px 0px 0px; }
    .promo-txt li
    {
        float:left;
        width: 220px;
        font-size: .8em;
    }

}
@media only screen and (max-width: 767px) {
	body {
		line-height: 21px;
		font-size: 16px;
		background: #b9d1dc;
	}

	#wrapper {
		margin: 0 auto 25px;
		padding: 0;
		width: auto;
		background: #fff;
	}
	#header {
		position: relative;
		padding: 10px 40px 15px;
		width: auto;
	}
	.main-image {display: none;}
	.header-frame {
		position: static;
		top: auto;
		left: auto;
	}
	.logo {
		display: block;
		position: static;
		top: auto;
		left: auto;
		margin: 0 0 0 -2px;
	}
	.top-block {
		position: static;
		top: auto;
		right: auto;
		width: auto;
	}
	.form-reg {
		margin: 0 -35px 0 -26px;
		padding: 46px 51px 0 60px;
		width: 350px;
		height: 561px;
		line-height: 21px;
		font-size: 18px;
		background: url(../images/bg-form-reg2.png) no-repeat;
	}
	.form-reg .title {
		margin: 0 0 5px;
		line-height: 30px;
		font-size: 27px;
	}
	.form-reg p {margin: 0 0 23px;}
	.form-reg .row {
		padding: 0 0 15px;
		width: 350px;
	}
	.form-reg input[type="text"] {
		margin: 0 5px 0 0;
		padding: 10px 12px;
		width: 333px;
		height: 40px;
		line-height: 20px;
		font-size: 16px;
	}
	.form-reg input[type="text"].text1 {width: 137px;}
	.form-reg input[type="text"].text2 {width: 191px;}
	.form-reg input[type="text"].text3 {width: 153px;}
	.form-reg input[type="text"].text4 {width: 75px;}
	.form-reg select {width: 87px;}
	.form-reg input[type="submit"] {
		margin: 1px 0 0 2px;
		width: 332px;
		height: 96px;
		background: url(../images/sprite.png) no-repeat -260px -780px;
	}
	.form-reg input[type="submit"]:hover {
		background: url(../images/sprite.png) no-repeat -260px -880px;
	}
	.form-reg .req {
		line-height: .5em;
		font-size: .7em;
	}

	.mail-form-col {
		width: 100%; float: none;
	}

	.top-block .arrow-left {display: none;}
	.top-block .arrow-right {
		position: static;
		top: auto;
		right: auto;
		width: auto;
		height: auto;
		background: none;
	}
	.main-promo {
		padding: 22px 0 11px;
		line-height: 26px;
		font-size: 24px;
		letter-spacing: -1px;
		text-align: left;
	}
	.main-promo .title {
		margin: 0 0 5px;
		line-height: 52px;
		font-size: 48px;
		letter-spacing: -5px;
	}
	#main {
		margin: 0 auto;
		border: 0;
		padding: 0 40px;
		background: none;
	}
	.top-promo {
		overflow: visible;
		padding: 0 0 12px;
	}
	.promo-disk {
		float: none;
		margin: 0 0 10px;
		padding: 0 0 0 11px;
		width: auto;
		height: 1%;
		line-height: 21px;
		font-size: 18px;
		background: none;
	}
	.promo-disk:after {
		content: "";
		display: block;
		clear: both;
	}
	.promo-disk img {
		float: right;
		margin: 6px -15px 0 15px;
	}
	.promo-disk .logo2 {
		display: block;
		float: none;
		margin: 0 0 3px;
	}
	.promo-disk p {margin: 0;}
	.promo-txt {
		margin: 0 -1px;
		overflow: hidden;
		padding: 14px 0 4px;
		line-height: 21px;
		font-size: 16px;
	}
	.promo-txt h2 {
		margin: 0 0 1px;
		line-height: 25px;
		font-size: 22px;
	}
	.promo-txt p {margin: 0 0 27px;}
	.promo-txt ul {margin: -20px 0px 20px 0px;}
    .promo-txt li
    {
        float: none;
        width: 100%;
        font-size: .9em;
    }
	.features-holder {width: 100%;}
	.features {
		float: none;
		padding: 0 0 20px;
		width: auto;
	}
	.features .title {
		margin: 0 0 13px;
		line-height: 24px;
		font-size: 20px;
		font-weight: normal;
	}
	.features-list {
		padding: 0;
	}
	.features-list li {
		padding: 0 5px 0 7px;
		background: url(../images/sep-features-list2.png) no-repeat;
	}
	.btn-get {
		display: block;
		float: none;
		margin: 0 -31px 12px -30px;
		width: 462px;
		height: 93px;
		background: url(../images/sprite.png) no-repeat 0 -380px;
	}
	.btn-get a {
		margin:0 25px 0 0;
		width: 310px;
		height: 52px;
		line-height: 52px;
		font-size:17px;
		word-spacing:-1px;
	}
		.btn-get a:hover {background: url(../images/sprite.png) no-repeat -14px -480px;}
	.testimonials {
		margin: 0 -6px;
		border: 0;
		overflow: visible;
		padding: 0;
		background: none;
	}
	.testimonials h2 {margin: 0 0 16px;}
	.testimonials img {display: none;}
	.quotes {
		margin: 0 -2px;
		padding: 0;
	}
	.quotes blockquote {
		display: block;
		margin: 0;
		padding: 8px 0 17px 23px;
		background: url(../images/bg-quote.png) no-repeat 0 3px;
	}
	.quotes q {
		line-height: 21px;
		font-size: 16px;
	}
	.quotes cite {
		margin: 0 0 0 3px;
		line-height: 21px;
		font-size: 16px;
	}
	.confirm-block {
		padding: 27px 4px 32px 4px;
		overflow: visible;
	}
	.confirm-block .txt {
		float: none;
		padding: 0 0 14px;
		width: auto;
		line-height: 21px;
		font-size: 18px;
	}
	.confirm-block h2 {
		margin: 0 0 17px -9px;
		line-height: 32px;
		font-size: 30px;
	}
	.confirm-block h2 .name {
		display: block;
		line-height: 25px;
		font-size: 22px;
	}
	.confirm-block p {margin: 0 0 21px;}
	.confirm-block address {padding: 0 0 42px;}
	.social-block {
		float: none;
		padding: 0;
		width: auto;
		margin-top: 40px;
	}
	.social-block h3 {
		margin: 0 0 9px;
		text-align: left;
	}
	.social-list {
		margin: 0 -5px 0 0;
		padding: 0;
		text-align: left;
	}
	.social-list li {
		margin: 0 2px 4px 0;
	}
	.social-list li a {
		width: 93px;
		height: 93px;
	}
	.social-list li a.facebook {background: url(../images/sprite.png) no-repeat;}
	.social-list li a.pinterest {background: url(../images/sprite.png) no-repeat -100px 0;}
	.social-list li a.youtube {background: url(../images/sprite.png) no-repeat -200px 0;}
	.social-list li a.twitter {background: url(../images/sprite.png) no-repeat -300px 0;}
	.media-block {
		margin: 0;
		padding: 0 0 30px;
		width: auto;
		background: none;
	}
	.media-block h2 {
		margin: 0 0 2px;
		line-height: 28px;
		font-size: 23px;
		color: #023d72;
	}
	.media-list {
		margin: 0 auto;
		padding: 0;
		max-width: 329px;
		text-align: left;
	}
	.media-list li {
		display: block;
		margin: 0 0 -5px;
		width: 100%;
		line-height: 24px;
		font-size: 20px;
		vertical-align: top;
	}
	.media-list img {
		display: block;
		margin: 0 0 -24px;
		width: 100%;
	}
	.media-list li a span {
		display: block;
		margin: 0 6px;
	}
	#footer {
		position: relative;
		margin: 0;
		overflow: visible;
		padding: 18px 0 15px;
	}
	.partners-list {
		margin: 0 -6px 0 0;
		padding: 0;
	}
	.cfm-bottom {width: 80%; }
	#footer .txt {
		display: block;
		clear: both;
		float: none;
		margin: 0 80px 0 0;
		padding: 23px 2px 0;
		width: auto;
		height: 1%;
		line-height: 19px;
	}
	.bottom-nav {margin: 0 0 6px;}
	.bottom-nav li {
		padding: 0 9px 0 10px;
		background: url(../images/sep-bottom-nav2.png) no-repeat 0 4px;
	}
	.bottom-nav li:first-child {
		margin: 0 0 0 2px;
		padding-left: 0;
	}

	.lightbox {width: 292px;}
	.lightbox .area {width: 256px;}
	.partners-list li
    {
        margin: 0px 10%;
    }
	.phone
	{
	    margin: 30px auto 10px auto;
	    text-align: center;
	    font-size: 1.1em;
	  }
}
@media only screen and (max-width: 479px) {
	#header {
		padding: 22px 10px 15px;
	}
	.form-reg {
		padding: 37px 158px 0 53px;
		width: 260px;
		height: 426px;
		line-height: 15px;
		font-size: 13px;
		color: #d4ebfb;
		background: url(../images/bg-form-reg.png) no-repeat -161px 0;
	}
	.form-reg .title {
		margin: 0 0 3px;
		line-height: 24px;
		font-size: 20px;
	}
	.form-reg p {margin: 0 0 17px;}
	.form-reg .row {
		padding: 0 0 11px;
		width: 250px;
	}
	.form-reg input[type="text"] {
		margin: 0 3px 0 0;
		padding: 6px 8px;
		width: 247px;
		height: 30px;
		line-height: 20px;
		font-size: 12px;
	}
	.form-reg input[type="text"].text1 {width: 102px;}
	.form-reg input[type="text"].text2 {width: 142px;}
	.form-reg input[type="text"].text3 {width: 101px;}
	.form-reg input[type="text"].text4 {width: 46px;}
	.form-reg input[type="submit"] {
		margin: -2px 0 0;
		width: 249px;
		height: 74px;
		background: url(../images/sprite.png) no-repeat 0 -780px;
	}
	.form-reg input[type="submit"]:hover {
		background: url(../images/sprite.png) no-repeat 0 -880px;
	}
	.select-area {
		margin: 0 5px 0 2px;
		height: 28px;
	}
	.select-area .center {
		padding: 6px 4px;
		line-height: 16px;
		font-size: 12px;
	}
	.select-area .select-opener {
		width: 28px;
		height: 28px;
	}
	.select-area .select-opener:after {
		top: 10px;
		right: 6px;
		border-top: 10px solid #fff;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
	}
	.select-options ul li {
		line-height: 16px;
		font-size: 12px;
	}
	.select-options ul a {
		padding: 6px 4px;
	}
	#main {
		padding: 0 10px;
	}
	.promo-disk {
		padding: 0;
	}
	.promo-disk img {
		float: none;
		display: block;
		margin: 0 auto 5px;
	}
	.promo-disk .logo2 {
		display: block;
		float: none;
		margin: 0 auto 3px;
	}
	.promo-txt h2 {
		text-align: left;
	}
	.features-list {
		padding: 0 10px;
	}
	.features-list li {
		background: none;
	}
	.btn-get {
		margin: 0 -10px;
		overflow: hidden;
		width: 320px;
		height:90px;
		background: url(../images/sprite.png) no-repeat 0 -580px;
	}
	.btn-get a {
		display: block;
		float: none;
		margin: 17px 22px 0;
		width: auto;
		font-size: 17px;
		text-align:center;
		padding:0;
	}
	.btn-get a:hover {
		background: url(../images/sprite.png) no-repeat -22px -697px;
	}
	.testimonials {
		margin: 0;
	}
	.partners-list {
		float: none;
		margin: 0 0 20px;
		width: 100%;
		text-align: center;
	}
	.partners-list li {
		display: inline-block;
		margin: 0 3px 0 7px;
		float: none;
		vertical-align: top;
	}

	.confirm-block {padding: 30px 0;}
	.confirm-block h2 {margin: 0 0 17px;}
	.social-list {
		margin: 0;
		padding: 0 20px;
		text-align: center;
	}
	.social-list li {
		margin: 0 2px 7px 0;
	}
	#footer .txt {
		margin: 0;
		padding: 0;
	}
	.lightbox {width: 232px;}
	.lightbox .area {
		padding: 10px;
		width: 212px;
	}
	#topspace { height: 100px; }
	.logo {width: 100%; margin: 0px auto 20px auto; }
	.phone-top { width: 100%; text-align: left; margin: 0px auto; }
}